<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  <style type="text/css">

    h1,
    h4,
    h5,
    h6 {
      font-family: 'Lucida Grande';
    }

    h3 {
      font-family: 'Lucida Console';
      color: #76CC1E;
    }

    img {
      margin: 7px 0px 0px 10px;
    }

    .container {
      position: relative;
    }

    .progress {
      position: absolute;
      /*top: -20px;*/
      bottom: 0;
      left: 0;
      width: 100%;
      z-index: 100;
    }

    .progress span {
      color: white;
      font: bold 16px/45px Helvetica, Sans-Serif;
      letter-spacing: -1px;
      background: rgb(0, 0, 0);
      /* fallback color */
      background: rgba(0, 255, 0, 0.7);
      padding: 10px;
    }

    .title {
      font-family: 'Lucida Grande';
      font-weight: bold;
      color: 'black';
      margin: 0px 0px 0px 10px;
    }

    .owner {
      font-family: 'Trebuchet MS';
      font-size: small;
      color: grey;
      margin: 0px 0px 0px 10px;
    }

    .date {
      font-family: 'Trebuchet MS';
      font-weight: bold;
      float: left;
      font-size: small;
      color: 'black';
      margin: 0px 0px 0px 10px;
    }

    .category {
      font-family: 'Trebuchet MS';
      font-style: italic;
      font-size: small;
      float: left;
      margin: 0px 0px 0px 10px;
    }

    .project {
      display: inline-block;
      border-color: black;
      border-style: solid;
      border-width: 0px;
      padding: 7px;
      border-radius: 5px;
      max-width: 250px;
      margin: 5px 0px;
    }

    a {
      color: black;
      text-decoration: none;
    }

    .title a {
      color: #76CC1E;
      text-decoration: none;
    }

    .description {
      font-family: 'Trebuchet MS';
      font-size: small;
      color: grey;
      margin: 0px 0px 0px 10px;
    }
  </style>
</head>
<body>
  <h1>Good Morning, <%= subscriber_name_titleized(@subscriber) %>!</h1>
  <% if @projects.nil? || @projects.count == 0 %>
    <h2>Sorry <%= subscriber_name_titleized(@subscriber) %>, there are no projects in your subscribed categories:<br/>
    <ul>
    <% UserToProjectsMapper.user_categories(@subscriber).each do |category| %>
      <li><%= category %></li>
    <% end %> 
    </ul>
    <h3>To change category preferences, please <a href=<%=@change_preferences_url%>>click here.</a></h3>
  <% else %>
    <% @projects.each do |project| %>
      <div class="project">
        <p class="title">
          <a href=<%= project.url %>><%= project.name %></a>
        </p> 
        <p class="owner">by <%= project.owner %></p>
        <div class="container">
          <a href="<%= project.url %>"><img src="<%= project.thumbnail_url %>" alt="[project image here; enable images to see]"
          title="<%= project.description %>"/></a>
          <h2 class="progress"><span><%= project.pledge_percent%>%</span></h2>
        </div>
        <p class="category"><a href="<%= primary_category_url(project)%>"><%= project.category %></a></p>
        <br />
        <p class="date"><%= hours_left(project.pledge_deadline) %> hours left</p>
        <br/>
        <p class="description">Junior Magazine is a photographic journal showcasing young talent in Irish documentary photography.</p>
      </div>
    <% end %>
    <h5>To change category preferences, please <a href=<%=@change_preferences_url%>>click here.</a></h5>
  <% end %>
  <h4>- The Pecunia Nunc Team</h4>
  <h5>All feedback is welcome. Just reply to this email!</h5>
  <h5>To unsubscribe, please <a href=<%=@unsubscribe_url%>>click here.</a></h5>
</body>
</html>