<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  <style type="text/css">

  h1, h4, h5, h6 {
    font-family: 'Lucida Grande';
  }
  h3 {
    font-family: 'Lucida Console';
    color: #76CC1E;
  }
  img {
    margin: 7px 0px 0px 10px;
  }
  #progressbar {
    background-color: black;
    border-radius: 5px; /* (height of inner div) / 2 + padding */
    padding: 3px;
    width: 240px;
    margin: 7px;
  }
  #progressbar div {
    background-color: #76CC1E;
    width: 40%; /* Adjust with JavaScript */
    height: 15px;
    border-radius: 4px;
    font-size: x-small; 
    text-align: center;
    vertical-align: middle;
  }
  .title{
    font-family: 'Lucida Grande';
    font-weight: bold;
    color: 'black';
    margin: 0px 0px 0px 10px;
  }
  .owner{
    font-family: 'Trebuchet MS';
    font-size: small;
    color: grey;
    margin: 0px 0px 0px 10px;
  }
  .date {
    font-family: 'Lucida Console';
    font-weight: bold;
    float: left;
    font-size: xx-small;
    margin: 4px 0px 0px 10px;
  }
  .category {
    font-family: 'Trebuchet MS';
    font-style: italic;
    font-size: small;
    float: left;
    margin: 0px 0px 0px 10px;
  }
  .project {
    display: inline-block;
    border-color: black;
    border-style: solid;
    border-width: 0px;
    padding: 7px;
    border-radius: 5px;
    max-width: 250px;
    margin: 5px 0px;
  }

  a {
    color: black;
    text-decoration: none;
  }
  a:hover {
    color: #76CC1E;
  }

  </style>
</head>
<body>
  <h1>Good Morning, <%= subscriber_name_titleized(@subscriber) %>!</h1>
  <% if @projects.nil? || @projects.count == 0 %>
    <h2>Sorry <%= subscriber_name_titleized(@subscriber) %>, there are no projects in your subscribed categories:<br/>
    <ul>
    <% UserToProjectsMapper.user_categories(@subscriber).each do |category| %>
      <li><%= category %></li>
    <% end %> 
    </ul>
    <h3>To change category preferences, please <a href=<%=@change_preferences_url%>>click here.</a></h3>
  <% else %>
    <% @projects.each do |project| %>
      <div class="project">
        <p class="title">
          <a href=<%= project.url %>><%= project.name %></a>
        </p> 
        <p class="owner">by <%= project.owner %></p>
        <a href="<%= project.url %>"><img src="<%= project.thumbnail_url %>" alt="[project image here; enable images to see]" title="<%= project.description %>"/></a>
        <div id="progressbar">
          <div style="width: <%= progress_bar_pledge_percent(project) %>%"><%= project.pledge_percent%>%
          </div>
        </div>
        <p class="category"><a href="<%= primary_category_url(project)%>"><%= project.category %></a></p>
        <p class="date"><%= project.pledge_deadline %></p>
      </div>
    <% end %>
    <h5>To change category preferences, please <a href=<%=@change_preferences_url%>>click here.</a></h5>
  <% end %>
  <h4>- The Pecunia Nunc Team</h4>
  <h5>All feedback is welcome. Just reply to this email!</h5>
  <h5>To unsubscribe, please <a href=<%=@unsubscribe_url%>>click here.</a></h5>
</body>
</html>