<h1>Pecunia Nunc</h1>
<p>Welcome to Pecunia Nunc!</p>

<%= bootstrap_form_for @subscriber do |f| %>
  <%= f.text_field :name, placeholder: 'Name', class: 'input-large' %>
  <%= f.text_field :email, placeholder: 'Email', class: 'input-large' %>
  <%= f.check_box :allcategories, label: 'All Categories' %>
  <%= f.check_box :art %>
  <%= f.check_box :comics %>
  <%= f.check_box :crafts %>
  <%= f.check_box :dance %>
  <%= f.check_box :design %>
  <%= f.check_box :fashion %>
  <%= f.check_box :filmvideo %>
  <%= f.check_box :food %>
  <%= f.check_box :games %>
  <%= f.check_box :journalism %>
  <%= f.check_box :music %>
  <%= f.check_box :photography %>
  <%= f.check_box :publishing %>
  <%= f.check_box :technology %>
  <%= f.check_box :theater %>
  <%= f.submit "Subscribe!", class: 'btn btn-large'%>
<% end %>