<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="Tushar Saxena">
    <link rel="icon" href="../../favicon.ico">

    <title>Pecunia Nunc</title>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Pecunia Nunc 2.0</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="#">Home</a></li>
                  <li><a href="#examples">Subscribe!</a></li>
                  <li><a href="#">Contact</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover" id="intro">
            <h1 class="cover-heading">Pecunia Nunc</h1>
            <p class="lead">Welcome to Pecunia Nunc! Sign up now to receive a daily email every morning with Kickstarter projects ending soon, based on your interests!</p>
            <p class="lead">
              <a href="#examples" class="btn btn-lg btn-default">Subscribe Now!</a>
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>A side project, by <a href="https://twitter.com/tushar_saxena">@tushar_saxena</a>.</p>
              <p>Disclaimer: This website has NO AFFLIATION WHATSOEVER with Kickstarter and is NOT ENDORSED by the Kickstarter team. Functionality is not guaranteed.</p>
            </div>
          </div>

        </div>
      <% 100.times do |i| %>
        <br />
      <% end %>
      <div id="examples">
        <p>Insert Email Examples here</p>
      </div>

      <div id="signup">
        <%= bootstrap_form_for @subscriber do |f| %>
          <%= f.text_field :name, icon: "user", placeholder: 'Name', class: 'input-large' %>
          <%= f.text_field :email, icon: "envelope", placeholder: 'Email', class: 'input-large' %>
          <div class="checkboxes">
          <%= f.check_box :allcategories, label: 'All Categories' %>
          <%= f.check_box :art %>
          <%= f.check_box :comics %>
          <%= f.check_box :crafts %>
          </div>
          <div class="checkboxes">
          <%= f.check_box :dance %>
          <%= f.check_box :design %>
          <%= f.check_box :fashion %>
          <%= f.check_box :filmvideo, label: 'Film & Video'%>
          </div>
          <div class="checkboxes">
          <%= f.check_box :food %>
          <%= f.check_box :games %>
          <%= f.check_box :journalism %>
          <%= f.check_box :music %>
          </div>
          <div class="checkboxes">
          <%= f.check_box :photography %>
          <%= f.check_box :publishing %>
          <%= f.check_box :technology %>
          <%= f.check_box :theater %>
          </div>
          <%= f.submit "Subscribe!", class: 'btn btn-large'%>
        <% end %>
        <% 10.times do |i| %>
        <br />
        <% end %>
      </div>
    </div>

  </body>



